@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* header first Navbar section */

.maincontainer {
    max-width: 1366px;
    width: 80%;
    margin: auto;
}

.firstNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.search a {
    color: #000000;
    padding-right: 5px;
}

.logo a {
    color: #000000;
    align-self: center;
}

.cart a {
    padding-right: 10px;
    color: #000000;
}

.cart select {
    margin-right: 10px;
    color: #000000;
    border-radius: 5px;
    border: none;
    border: 1px solid #c4c4c4;
    outline: none;
}


/* Second Navbar section */

.secondNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondNav {
    padding: 40px 0;
}

.secondNav li a {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.secondNav li {
    padding-left: 20px;
}

.secondNav li:hover {}

.secondNav li:nth-child(1) {
    padding-left: 0;
}


/* Banner section  */

.bannerSec {
    width: 100%;
    margin-bottom: 50px;
}

.QualitySec {
    width: 100%;
    background-color: rgb(233, 227, 227);
}

.owl-nav button {
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center;
    border-radius: 50px !important;
    justify-content: center;
    position: absolute;
    margin: auto !important;
    background-color: #ffffff !important;
    top: 0;
    bottom: 0;
}

.owl-nav button span {
    font-size: 0px;
}

.owl-nav button::after {
    content: '';
    width: 30px;
    height: 20px;
    position: absolute;
    top: 10px;
    background: url(./images/arrow.png) center center / 23px no-repeat;
}

.owl-nav {
    margin-top: 0px !important;
}

.arrow img {
    width: 50%;
}

.owl-nav button:hover {
    background-color: aqua !important;
}

.banner .owl-prev {
    left: 20px !important;
}

.banner .owl-next {
    right: 20px !important;
}

.owl-nav .owl-next::after {
    transform: rotate(180deg);
}

.offerSec {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
}

.offerSec li {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.offerSec li i {
    margin-right: 10px;
    background-color: rgb(165, 159, 159);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Product Section     */

.productcontainer {
    display: flex;
    justify-content: space-between;
}

.productcontainer img {
    width: 100%;
}

.productOne {
    flex-basis: 60%;
}

.productOne img {
    width: 100%;
}

.productTwo {
    flex-basis: 37%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.productTwo-a img {
    margin-bottom: 15px;
    /* height: 100%; */
}

.productTwo-a img,
.productTwo-b img {
    max-height: 310px;
}


/* Featued Section   */

.maincontainer h2 {
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
}

.maincontainer h2::after {
    content: "";
    border: 2px solid rgb(211, 211, 214);
    width: 130px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.towerSec {
    display: flex;
    justify-content: space-between;
}

.towerSec .mallSec {
    flex-basis: 22%;
    margin-bottom: 20px;
}

.mallSec img {
    width: 100%;
}

.towerSec .Offer {
    position: relative;
}

.mallSec .off {
    background-color: skyblue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 17px;
    right: -11px;
}

.tower h5 {
    text-align: left;
    text-transform: uppercase;
}

.tower p {
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
}

.tower span {
    font-size: 12px;
}

.tower span:nth-child(3) {
    text-decoration: line-through;
    color: rgba(17, 16, 16, 0.5);
}


/* Blog Section */

.BlogSec .mallSec {
    flex-basis: 32%;
}

.Blog button {
    font-size: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border: 1px solid rgba(17, 16, 16, 0.5);
    display: block;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s;
}

.Blog button:hover {
    background: rgba(0, 0, 0, 1);
    color: white;
}

.tower h5 {
    text-transform: capitalize;
}

.tower span {
    font-size: 10px;
    color: #000000;
}


/* Subscription Section */

.SubscribeSec {
    margin-top: 50px;
    background-color: rgb(233, 227, 227);
    background-position: top;
    height: 50%;
    padding: 50px;
}

.Subscription h1 {
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
}

.Subscription p {
    font-size: 18px;
    text-align: center;
}

.Subscription p::after {
    content: "";
    border: 2px solid rgb(211, 211, 214);
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.button {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.button input {
    border: none;
    outline: none;
    padding: 15px;
    width: 350px;
    padding: 15px 0 15px 20px;
    border: 1px solid rgba(17, 16, 16, 0.5);
    border-radius: 5px;
}

.button input::placeholder {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.button button {
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    padding: 11px;
    border: none;
    outline: none;
    width: 200px;
    border: 1px solid rgba(17, 16, 16, 0.5);
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}


/* footer Section    */

.FooterSection {
    background-color: #000000;
    padding: 30px 0 40px 0;
}

.firstFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: baseline;
}

.FooterList li a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.firstFooter-a {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.firstFooter-a h1 {
    color: #ffffff;
    margin-right: 20px;
}

.firstFooter-a p {
    color: #ffffff;
    font-size: 14px;
}

.firstFooter-b {
    display: flex;
}

.firstFooter-b li,
a {
    color: #ffffff;
    margin-left: 10px;
}

.footercontainer p {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}

.footercontainer p:nth-child(4) {
    font-size: 10px;
    margin-top: 15px;
}

.pageTopSec {
    background-color: #333333;
    text-align: center;
}

.pageTopSec a {
    display: block;
    padding: 10px;
}

.pageTopSec i,
span {
    color: #fff;
    font-size: 12px;
}


/* Mobile Responsive */

@media screen and (max-width: 797px) {
    .owl-carousel .owl-item img {
        height: 280px;
        object-fit: cover;
    }
    .firstNav {
        display: block;
    }
    .firstNav .search {
        display: none;
    }
    .firstNav .logo h1 {
        text-align: center;
    }
    .cart {
        text-align: center;
        margin-top: 20px;
    }
    .cart span {
        display: none;
    }
    .cart a {
        margin-right: 0;
    }
    .cart select {
        margin-right: 0;
    }
    .secondNav {
        padding: 20px 0;
        overflow: auto;
    }
    .secondNav li {
        padding: 0;
    }
    .productcontainer {
        display: block;
    }
    .FeaturedProducts .towerSec {
        display: block;
    }
    .firstFooter {
        display: block;
        padding: 20px 0 0;
    }
    .firstFooter-a {
        display: block;
    }
    .firstFooter-a h1 {
        text-align: center;
    }
    .firstFooter-b {
        justify-content: center;
        padding: 20px;
    }
    .FooterList {
        overflow: auto;
    }
}

@media screen and (max-width: 946px) {
    .QualitySec .offerSec {
        display: block;
    }
    .offerSec li {
        padding: 20px 0;
    }
}

@media screen and (max-width: 489px) {
    .secondNav {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 320px) {
    .QualitySec .offerSec {
        padding: 0;
    }
    .offerSec li {
        padding: 10px 0;
    }
    .offerSec li i {
        width: 27px;
        height: 28px;
    }
    .firstNav .logo a {
        margin-left: 0;
    }
    .cart a {
        padding: 0;
    }
    .FeaturedProducts h2 {
        font-size: 18px;
    }
    .SubscribeSec {
        padding: 20px 0;
    }
    .Subscription h1 {
        font-size: 26px;
    }
    .Subscription p {
        font-size: 16px;
    }
    .button {
        display: block;
        text-align: center;
    }
    .button input {
        width: 100%;
    }
    .button button {
        width: 80%;
        margin-top: 10px;
    }
    .firstFooter .firstFooter-b {
        padding: 15px;
    }
    .secondNav li {
        margin: 0;
        padding-right: 20px;
    }
    .arrow img {
        width: 25%;
    }
}